{% extends 'base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
{% endblock  %}
{% block page_title %}
All Challenges
{% endblock  %}

{% block content %}
    <h1>All Challenges</h1>
    <ul>
        {% for month in months %}
        <li>
            {% comment %} <a href="{{month}}">{{month|title}}</a> {% endcomment %}
            <a href="{% url 'month-challenge' month %}">{{month|title}}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}